.faucet-body-text {
  color: #000;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  /* 150% */
  letter-spacing: -1.584px;
}

.faucet-body-text-sub {
  color: #000;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 200% */
}

.faucet-button-input-text {
  color: #9C784A;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.faucet-button-input {
  display: flex;
  width: 180px;
  padding: 16px 17px;
  align-items: center;
  gap: 10px;

  border-color: transparent;
  border-radius: 12px;
  background: #FFF9F3;
}

.faucet-button-input::placeholder {
  color: #9C784A;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.faucet-button-text {
  color: #1C140D;
  font-feature-settings: 'dlig' on;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.24px;
}

.faucet-button {
  display: flex;
  width: 100px;
  height: 48px;
  padding: 22px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  border-color: transparent;
  border-radius: 12px;
  background: #F28F0D;
}

.faucet-button-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.faucet-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.faucet-body {
  display: flex;
  padding: 120px 0;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}